.header {
  background-image: url('./../../images/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__title {
    margin: 0 auto 20px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-shadow: 2px 3px rgba(243, 241, 241, 0.496);
  }
}
